.background-section {
    background: black;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.background-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.school-container {
    width: 100%;
    max-width: 800px; 
    margin: auto; 
}

.school-item {
    background-color: rgb(180, 180, 180);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.school-logo {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 20px; 
}

.school-info {
    text-align: left;
}

.school-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.school-info p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 5px 0;
}


@media screen and (max-width: 768px) {
    .background-container {
        padding: 10px;
    }

    .school-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .school-logo {
        margin-bottom: 10px;
    }

    .school-info h3 {
        font-size: 20px;
    }

    .school-info p {
        font-size: 14px;
    }
}
