.footer-section {
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
    
}

.footer-section .container {
    max-width: 1200px;
    margin: 0 auto;
 
    
}

.footer-section h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: left;
    color: #E0BFB8;
}

.footer-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    color: #E0BFB8;
}

.contact-item {
    flex: 1 1 30%;
 
}

.contact-item h3 {
    font-size: 20px;

}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px; 
    color: white; 
    transition: transform 0.3s ease;
}

