.projects-section {
    background: black;
    padding: 60px 20px;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns, adjust as needed */
    gap: 20px;
}

.project-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.project-item:hover {
    transform: scale(1.05); /* Zoom in on hover */
}

.project-item img {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.project-item:hover img {
    transform: scale(1.1); /* Larger scale on hover */
}

.project-description {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    flex: 1;
    transition: background-color 0.3s ease;
}

.project-description h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project-description p {
    font-size: 16px;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Ensure text doesn't overflow */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}

.project-item:hover .project-description {
    background-color: #f0f0f0; /* Change background on hover */
}
